# Praktikum 2 â€“ Pre Processing dan Seleksi Fitur
Pada praktikum ini kita melakukan Encoding, Imputasi, Standardisasi, dan Seleksi fitur menggunakan data Titanic.

In [1]:
#### Langkah 0 - Load Library
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [3]:
#### Langkah 1 - Load Data
dpath = "Titanic-Dataset-selected.csv"
df = pd.read_csv(dpath)
df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

In [4]:
#### Langkah 2 - Encoding fitur 'Sex'
df['Sex'] = df['Sex'].map({'male': 1, 'female': 0})
print("=== Hasil Setelah Encoding 'Sex' ===")
print(df[['Sex']].head(), "\n")

=== Hasil Setelah Encoding 'Sex' ===
   Sex
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

In [6]:
le = LabelEncoder() # membuat objek dari LabelEncoder
df['Sex'] = le.fit_transform(df['Sex']) # proses encoding
df['Cabin'] = le.fit_transform(df['Cabin']) # proses encoding

In [7]:
#### Langkah 4 - Imputasi Data pada Usia
df['Age'] = df[['Age']].fillna(df['Age'].median())
print("=== Hasil Setelah Imputasi Median pada 'Age' ===")
print(df[['Age']].head(10), "\n")

=== Hasil Setelah Imputasi Median pada 'Age' ===
        Age
0 -0.592481
1  0.638789
2 -0.284663
3  0.407926
4  0.407926
5  0.000000
6  1.870059
7 -2.131568
8 -0.207709
9 -1.208115

In [8]:
#### Langkah 5 - Standardisasi fitur 'Age'
scaler = StandardScaler()
df['Age'] = scaler.fit_transform(df[['Age']])
print("=== Hasil Setelah Standardisasi 'Age' ===")
print(df[['Age']].head(10), "\n")

=== Hasil Setelah Standardisasi 'Age' ===
            Age
0 -5.924806e-01
1  6.387890e-01
2 -2.846632e-01
3  4.079260e-01
4  4.079260e-01
5 -2.033540e-16
6  1.870059e+00
7 -2.131568e+00
8 -2.077088e-01
9 -1.208115e+00

In [9]:
#### Langkah 6 - Cek hasil akhir preprocessing
print("=== Hasil Preprocessing (5 baris pertama) ===")
df.head()

=== Hasil Preprocessing (5 baris pertama) ===

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    0    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    0    115

In [10]:
#### Langkah 7 - Seleksi Fitur (5 variabel penting)
df = df[['Survived', 'Pclass', 'Age', 'Sex', 'Cabin']]
df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    0    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    0    115

### ðŸ”¹ Preprocessing dan Seleksi fitur selesai.